{% extends 'index.html' %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="container-fluid" style="width: 30%; height: auto;overflow: hidden;">
    <div class="card mt-5" >
        <div class="card-header">Admin Login</div>
        <div class="card-body">
            <form class="form" role="form" method="POST" style="padding: 4px; margin: 2rem;">
                {% csrf_token %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary" style="margin-top: 1rem;">Login</button>
                <p id="login" style="margin-top:1rem ;">Create New Password  <a
                     href="{% url 'forgot_password' %}">Forgottern Password</a></p>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock %}