{% extends "index.html" %}
{% block content %}

<style>
    .form-group {
      margin-top: 1rem;
    }
    .form-control{
      margin-top: 0.5rem;
    }
</style>

<div class="container-fluid" style="width: 30%; height: auto;overflow: hidden;">
    <div class="card mt-5" >
    <div class="card-body">
        {% csrf_token %}

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-info">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}

        <div class="form-group">
            <label for="formGroupExampleInput2">New Password</label>
            <input type="text" class="form-control" name="new_password" id="formGroupExampleInput2" placeholder="">
        </div>

        <div class="form-group">
            <label for="formGroupExampleInput2">Confirm Password</label>
            <input type="text" class="form-control" name="confirm_password" id="formGroupExampleInput2" placeholder="">
        </div>

        <!-- <input type="hidden" name="user_id" value="{{ pk }}"> -->

        <div class="button" style="margin-top: 2rem;">
            <button class="btn btn-md btn-primary " type="submit">Submit</button>
        </div>
        
    </form>
    </div>
    </div>
</div>

{% endblock %}