<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Hello {{ email }},</p>
    <p>Thank you for visting our website. To activate your account, please click the link below:</p>
    <a href="{{ activation_link }}" style="display: inline-block; padding: 10px 20px; background-color: #4CAF50; color: white; text-decoration: none;">Activate Account</a>
    <p>If you didn't request this activation, please ignore this email.</p>
    <p>Best regards,<br>CodingThunder.com</p>
    <p>@copyright 2020-2024 CodingThunder.com </p>
    
</body>
</html>
